@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bodoni;
  src: url("../public/BodoniFLF-Bold.ttf");
}

@font-face {
  font-family: Sketch;
  src: url("../public/Goldoni_DEMO.otf");
}

.text-shadow {
  text-shadow: 0 0 50px rgb(97, 96, 96);
}

.link {
  display: inline-block;
  position: relative;
}

.link:hover {
  animation: link-expand 0.5s ease;
  animation-fill-mode: forwards;
}

.link:not(:hover) {
  animation: link-unexpand 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes link-expand {
  from {
    letter-spacing: 0;
  }
  to {
    letter-spacing: 0.1em;
  }
}

@keyframes link-unexpand {
  from {
    letter-spacing: 0.1em;
  }
  to {
    letter-spacing: 0;
  }
}

.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.salmon-color {
  color: #f16461;
}

.salmon-bg {
  background-color: #f39d9b;
}
